/* font */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* layout style  */
section {
  height: 100vh;
}

.button {
  width: fit-content;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.LSicon::before {
  content: "";
  width: 63px;
  height: 18px;
  display: block;
  background-image: url(../img/icon_bar.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.LSicon2::after {
  content: "";
  width: 30px;
  height: 26px;
  display: inline-block;
  background-image: url(../img/svg/arrow_right_icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(1px);
}

.wrap {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .block {
    display: block;
  }
  /* height: 100%; */
}

nav a {
  display: block;
}

/* text style */
.h1 {
  font-size:66px;
  font-weight: bold;
}

.h2 {
  font-size:54px;
}

.h3 {
  font-size:35px;
}

.h4 {
  font-size:25px;
}

.h5 {
  font-size:20px;
}

.menu {
  font-size:18px;
}

.submenu {
  font-size:18px;
}

.titlep {
  font-size: 20px;
}

.p {
  font-size:18px;
}

.sm {
  font-size: 12px;
}

.m {
  font-size: 16px;
}

.xs {
  font-size: 12px;
}

.white, .white a {
  color: #fff;
}

.black, .black a {
  color: #000 !important;
}

.gray {
  color: #aeb0b2;
}

.btn16 {
  font-size: 14px;
}

.hide {
  display: none !important;
}

.more {
  border: 1px solid #fff;
  line-height: 1;
  padding: 17px 28px;
  color: #fff;
  transition: 0.5s;
}

.more::after {
  content: "+";
  margin-left: 10px;
  transition: 0.5s;
  position: relative;
  left: 0px;
}

.more:hover {
  background-color: #fff;
  color: #000;
}

.more:hover::after {
  left: 10px;
}

@media screen and (max-width: 768px) {
  section {
    height: calc(100vh - 100px);
  }

  .LSicon::before {
    width: 33px;
  }

  #news .LSicon::before {
    filter: invert(100%);
  }
  
  .wrap {
    padding:  0 35px;
  }
  
  .h1 {
    font-size: calc(66px * 0.404);
  }
  
  .h2 {
    font-size: calc(54px * 0.404);
  }
  
  .h3 {
    font-size: calc(35px * 0.404);
  }
  
  .h4 {
    font-size: calc(25px * 0.404);
  }
  
  .h5 {
    font-size: 14px;
  }
  
  .menu {
    font-size: 15px;
  }
  
  .submenu {
    font-size: calc(18px * 0.404);
  }
  
  .titlep {
    font-size: 12px;
  }
  
  .p {
    font-size: 15px;
  }
  
  .sm {
    font-size: calc(12px * 0.404);
  }
  
  .m {
    font-size: calc(16px * 0.404);
  }
  
  .xs {
    font-size: calc(12px * 0.404);
  }
}