@media screen and (max-width: 768px) {
    header nav {
        padding: 0 15px;
    }

    header .gnb {
        display: none;
    }

    header .etc {
        display: none;
    }

    /* 타이틀 */
    #title {
        background-image: url(../img/section1_bg_01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100% - 100px);
    }

    #title .wrap {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 20px;
        justify-items: center;
    }

    #title p {
        display: none;
    }

    #title nav {
        grid-column: 1;
        grid-row: 3;
        width: 97%;
    }

    #title h2.h1 {
        text-align: center;
    }

    #title h2.h1::before {
        content: "";
        width: 32px;
        height: 9px;
        display: block;
        background-image: url(../img/icon_bar.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto 15px auto;
    }

    #title h2.h1 span {
        display: block;
    }

    #title nav ul {
        display: flex;
        justify-content: space-around;
    }

    #title nav ul li {
        width: fit-content;
        height: auto;
        border: none;
    }

    #title nav ul li a::before {
        width: 30px;
        height: 30px;
    }

    #title nav ul li a::after {
        width: 20px;
        height: 20px;
    }

    #title video {
        display: none;
    }

    #business .flex span:last-child {
        display: block;
    }
}
