#business {
  background-color: #8b4499;
  display: flex;
  align-items: center;
}

#business .wrap {

}

#business .hide {

}

#business .flex {
  
}

#business .flex span {
  display: block;
}

#business .flex span:last-child {
  display: none;
}

#business .flex li {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#business .flex li:not(:first-child) {
  display: none;
}

#business .flex li:hover {

}

#business .h1 {
  
}

#business .p {
  order: 3;
  /* width: 560px;
  height: 205px;
  background-color: #003e84;
  border-bottom-right-radius: 100px; */
}

#business .menu {
  order: 2;
  margin-bottom: 25px;
}

#business .menu:hover {

}

