.top {
    position: fixed;
    right: 20px;
    bottom: 40px;
    text-transform: uppercase;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    color: #fff;
    width: 30px;
    height: 30px;
}

.top::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/arrow_22.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sm {
    font-size: 14px;
}